.card {
  border-radius: 25px;
  border: none;
  overflow: hidden;
  max-width: 300px;
  cursor: pointer;
  text-align: left;
  box-shadow: -18px 16px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px;

  .card-header {
    border: none;
    background-color: transparent;
    font-size: larger;
  }

  .card-body {
    padding: 50px;
  }
}