<router-outlet></router-outlet>
<div class="container py-3">
  <div class="search d-flex justify-content-center gap-5 align-items-center">
    <div class="child d-flex">
      <img alt="envelope" src="assets/images/house.svg" width="30" class="pointer">
      <h4 class="title mx-2">Home</h4>
    </div>
  </div>

  <div class="d-flex justify-content-center gap-5 mt-5">
    <a class="btn btn-primary" href="/app/posts">Posts</a>
    <a class="btn btn-primary" href="/app/reminders">Reminders</a>
  </div>
</div>